* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
h1 {
  color: red;
  overflow: clip;
  margin-top: 30px;
}

.card button {
  width: 70px;
  height: 50px;
  border-radius: 10px;
  color: white;
  background-color: blue;
  border-style: none;
  overflow: clip;
  margin: 10px 10px;
}
button:hover {
  background-color: orchid;
}

.container {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}
.card {
  border-radius: 10px;
  background-color: #ccc;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.3);
  height: 50vh;
  width: 25vw;
  text-align: center;
}
